:root {
    --rojo: #D03737;
    --rojo-orcuro: #bf1717;
    --azul: #0C1248;
    --azul-oscuro: #0C1228;
    --gris: #444;
}
body {
    font-family:Poppins;
}

.contenedorFlexible{
    display:flex;
    flex-wrap:wrap-reverse;
    justify-content:center;
    margin:10px 0;

}

.contenedorFlexible_contenido_formulario {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    background-color: var(--azul);
    width:450px;
    justify-content:center;
    padding:10px;

}
.contenedorFlexible_contenido_subcontenido {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
    margin-top:10px;
}

.contenedorFlexible_contenido_subcontenido_row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 50px;
    margin:20px 0;
}


h3{
    text-align:center !important;
    margin-top:10px;
    color:white;
}

label {
    margin: 10px auto;
    color: white;
    display: block;
    text-align: center;
}


input {
    vertical-align: middle !important;
    width: 240px !important;
    height: 41px !important;
    background-color: white !important;
    border: 10px;
    margin: 0 auto !important;
}



.btnDolares {
    width: 100px;
    height: 30px;
    border: none;
    background: linear-gradient(to right, var(--rojo), var(--rojo), var(--rojo), var(--rojo-orcuro));
    border-bottom: solid 4px #910000;
    border-radius: 5px;
    box-shadow: 4px 4px 5px #111;
    font-size: 15px;
    color: #fff;
    transition-duration: 0.1s;
}

    .btnDolares:hover {
        box-shadow: 4px 4px 5px var(--rojo);
        transform: scaleX(1.07);
    }



.btnColones {
    width: 100px;
    height: 30px;
    border: none;
    background: linear-gradient(to right, #bbb, #bbb, #bbb, #ddd );
    border-bottom: solid 4px #666;
    border-radius: 5px;
    box-shadow: 4px 4px 5px #111;
    color: #fff;
}

    .btnColones:hover {
        box-shadow: 4px 4px 5px #bbb;
        transform: scaleX(1.07);
    }


.rango {
    background-color: var(--azul) !important;
    border: none !important;
}




.btnAtras {
    width: 100px;
    height: 30px;
    border: none;
    background: linear-gradient(to right, #bbb, #bbb, #bbb, #ddd );
    border-bottom: solid 4px #666;
    border-radius: 5px;
    box-shadow: 4px 4px 5px #111;
    color: #fff;
}

    .btnAtras:hover {
        box-shadow: 4px 4px 5px #bbb;
        transform: scaleX(1.07);
    }



.btnTramitador {
    width: 100px;
    height: 30px;
    border: none;
    background: linear-gradient(to right, var(--rojo), var(--rojo), var(--rojo), var(--rojo-orcuro));
    border-bottom: solid 4px #910000;
    border-radius: 5px;
    box-shadow: 4px 4px 5px #111;
    font-size: 15px;
    color: #fff;
    transition-duration: 0.1s;
}

    .btnTramitador:hover {
        box-shadow: 4px 4px 5px var(--rojo);
        transform: scaleX(1.07);
    }

.img-imagenFondo {
    height: 450px;
    width: 100%;
}

.contenedorFlexible_contenido_imagen{
    width:650px;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    padding:10px;
    padding-left:0;
    padding-right:0;
    margin:10px 0;

}

.select.is-danger select {
    
    color: var(--rojo) !important;
}