@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --rojo: #D03737;
    --azul: #0C1248;
    --gris: #181818;
}

body {
    font-family:Poppins;
}

h2 {
    color: var(--azul);
    font-size:40px;
    font-weight:700;
    letter-spacing: .15em;
    text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #868484, -3px 6px 1px #abaaaa, -4px 8px 1px #bbb, -4px 8px 1px #ccc, -4px 8px 1px #ddd;
}

.cajaFlexible1 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top:20px;
}


.cajaFlexible1_elemento1 {
    
    width: 50%;
}

.cajaFlexible1_elemento2 {
   
    width: 50%;
    display:flex;
    justify-content:center;
}

.flexible2 {
    background-color: lightgrey;
    width: 97%;
    margin: 0 auto;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
}


.img-negocios {
   object-fit:cover;
}



.Titulo {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    text-align: center;
    justify-content: center;
    margin:10px 0;
}


.ContenedorFormulario {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 0;
    justify-content: center;
    flex-direction: row;
}



.ContenedorFormulario_contenido1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: var(--azul);
    flex-grow: 2;
    margin: 10px;
    border-radius: 7px;
    height: 480px;
    align-self: center;
    justify-content: center;
}

.ContenedorFormulario_image {
    display: flex;
    flex-grow: 1;
    height: 500px;
    margin: 10px;
    justify-content: center;
    height: 480px;
    align-items: center;
}



.tbxCedulaCliente {
    vertical-align: middle !important;
    height: 40px !important;
    background-color: #fff !important;
    margin: 0px auto !important;
    outline: none !important;
    
}

.tbxCedulaCliente::placeholder{
    color:#888;
}



.tbxCedulaCliente:focus {
 border-bottom:3px solid var(--rojo);
}



@keyframes s {
    0% {
        border-left: 2px solid #f00;
    }

    50% {
        border-left: 2px solid #f00;
        border-bottom: 2px solid #f00;
    }

    100% {
        border-left: 2px solid #f00;
        border-bottom: 2px solid #f00;
        border-right: 2px solid #f00;
    }
}


.contenedor_tabla {
    margin: 60px 0px;
    margin-left: 10px;
    margin-right: 10px;
}
.tabla {

    text-align: center;
    border: 2px solid var(--rojo);
    border-radius: 8px !important;
}


.tabla_header{
    background-color: var(--rojo);
    color:#fff;
    
    }
.tabla_item{
    text-align:center;
    

}

.icn{
    color:var(--azul) !important;
    margin:0px 9px;
    text-shadow: 3px 3px 3px #555 ;
}




.subtitulo {
    color: white;
    padding: 0 10px;
    text-align: center;
    font-size:35px;
}

.select {
    width: 265px;
}

.card-image {
    max-height:220px;
    overflow: hidden;
}



.btnBuscar {
    margin: 15px auto;
    margin-top: 20px;
    width: 180px;
    height: 30px;
    border: none;
    background: linear-gradient(to right, #D03737, #D03737, #D03737, #bf1717 );
    border-bottom: solid 4px #910000;
    border-radius: 5px;
    box-shadow: 4px 4px 5px #111;
    font-size: 15px;
    color: #fff;
    transition-duration: 0.1s;
    margin-bottom:20px;
}

    .btnBuscar:hover {
        box-shadow: 4px 4px 5px var(--rojo);
        transform: scaleX(1.07);
    }


.img-negociosImagen {
    height: 350px;
    width: 100%;
  
}


.contenedorCartas {
    background-color: #eee;
    margin:10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
}

.contenedorCartas_item{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    width:100%;
}

.card {
    width: 270px;
    height: 385px;
    margin: 0 50px;
    box-shadow: 8px 8px 12px #777;
    
}

.card-title {
    text-align: center;
    display: block;
    margin-top: 10px;
}

.card-content {
    text-align: center;
}

.imgs {
    width: 428px;
    height: 220px !important;
    margin-bottom: 10px;
    object-fit: cover;
    transition-duration: 0.5s;
}

.imgs:hover{
    transform:scale(1.5);
    
}






.btnObservar {
    margin: 0 auto;
    margin-top: 30px;
    width: 130px;
    height: 30px;
    border: none;
    background: linear-gradient(to right, #D03737, #D03737, #D03737, #bf1717 );
    border-bottom: solid 4px #910000;
    border-radius: 5px;
    box-shadow: 4px 4px 5px #999;
    font-size: 15px;
    color: #fff;
    transition-duration: 0.1s;
}

    .btnObservar:hover {
        box-shadow: 4px 4px 5px var(--rojo);
        transform: scaleX(1.07);
    }

.boton3 {
    background: var(--azul);
    width: 80px;
    display: inline-block;
    height: 26px;
    margin:5px;
    color: white;
    border-radius: 10px;
}



.img-emprender {
    width: 428px;
    height: 220px !important;
    margin-bottom: 10px;
}

.img-usuario {
    width: 428px;
    height: 220px !important;
    margin-bottom: 10px;
}

.img-Estudio {
    width: 428px;
    height: 220px !important;
    margin-bottom: 10px;
}


label{
    margin: 10px auto;
    color:white;
    display:block;
    text-align:center;
}


input {
    vertical-align: middle !important;
    width: 265px !important;
    height: 40px !important;
    background-color: white !important;
    border: 10px;
    margin: 0 auto !important;

}


.columna2 {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.columna2-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

