@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --rojo: #D03737;
    --azul: #0C1248;
}

body {

}

.navmenu_items {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.headerr{
    height:93px;
}

.head{
    background-color: var(--rojo);
    height:30px;
    
}

.navcolor {
    background-color: #fff !important;
}

.navmenu {
    display: flex;
    justify-content: center;
}

.navmenu_items {
    margin:0 15px;
    text-align:center;
    color:#888;
}

    .navmenu_items:hover {
        color: #000;
        text-decoration:none;
    }

.footerdiv{
    width:830px !important;
    display:flex;
    flex-direction:row;
}

.divcontactos{
    display:inline-flex;
    flex-direction:column;
    margin-right:120px;

}

.divinformacion {
    display: inline-flex;
    flex-direction: column;
}

.navcase{
    height:80px !important;
}

.Contenedor_hijo{
    display:flex;
    flex-direction:column;
}

.foter{
    background-color: var(--rojo) !important;
}




