@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root {
    --rojo: #D03737;
    --rojo-orcuro: #bf1717;
    --azul: #0C1248;
    --azul-oscuro: #0C1228;
    --gris: #444;
}


.Contenedor {
    display: flex;
    margin-left: 300px;
    margin-top: 90px;
    
    
}

.tituloConfiguracion {
    color: var(--rojo);
    text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #868484, -3px 6px 1px #abaaaa, -4px 8px 1px #bbb, -4px 8px 1px #ccc, -4px 8px 1px #ddd;
    font-family: Poppins;
    margin-top:100px;
}

.imgConfiguracion{
    height:500px;
}